<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>「妊娠中の経過」登録 | 母子健康手帳</title>
  <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
  <link href="/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
  <!-- 以下、ヘッダー部分(ナビゲーションバー)の表示について -->
  <nav class="navbar navbar-light bg-light p-3 fixed-top">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
      <a class="navbar-brand" href="./index.html" th:href="@{/}">
          母子健康手帳アプリケーション Star& 医療関係者用管理画面
      </a>
      <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-target="#sidebar" aria-controls="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
      <div>
        <a href="./logout.html" class="btn btn-secondary text-white" type="button" th:href="@{/logout}">ログアウト</a> 
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <!-- 以下、サイドバーの表示について -->
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  <span class="ml-2">ホーム</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" th:href="@{/supporter/datamenu}">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  <span class="ml-2">データ登録・更新</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 custom-padding-top">
          <div class="col-12 my-1">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/supporter/datamenu}">データ登録・更新</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/supporter/datamenu/editablelist/' + ${serial_no}}">データ更新 項目一覧</a></li>
                <li class="breadcrumb-item"><a th:href="@{'/supporter/datamenu/editablelist/' + ${serial_no} + '/courseOfPregnancy'}">一覧表示「妊娠中の経過」</a></li>
                <li class="breadcrumb-item" aria-current="page">新規登録「妊娠中の経過」</li>
              </ol>
            </nav>
          </div>
        
          <div class="row">
            <div class="col-12 my-1">
              <div class="card">
                <h6 class="card-header">新規登録 「妊娠中の経過」</h6> 
                <div class="card-body">
                  <div th:if="${validationError}" th:each="error : ${validationError}">
                    <p th:text="${error}"></p>
                  </div>
                
                  <form th:method="post" th:action="@{/supporter/datamenu/editablelist/courseOfPregnancy/add}">
                    <div class="form-group row">
                      <div>
                        <input type="hidden" id="serial_no" name="serial_no" th:value="${serial_no}">
                      </div>
                      <div class="col-sm-3">
                        <label>診察日</label>
                        <input type="date" id="exam_date" name="exam_date" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>週（妊娠週数-日）</label>
                        <input type="number" id="week_of_pregnancy_w" name="week_of_pregnancy_w" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>日（妊娠週数-日）</label>
                        <input type="number" id="week_of_pregnancy_d" name="week_of_pregnancy_d" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>子宮底長（㎝）</label>
                        <input type="number" id="height_of_uterus" name="height_of_uterus" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>腹囲（㎝）</label>
                        <input type="number" id="circumference_of_abdomen" name="circumference_of_abdomen" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>診察時の体重（kg）</label>
                        <input type="number" id="weight" name="weight" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>最高血圧</label>
                        <input type="number" id="blood_pressure_systolic" name="blood_pressure_systolic" class="lastname form-control">
                      </div>
                      <div class="col-sm-2">
                        <label>最低血圧</label>
                        <input type="number" id="blood_pressure_diastolic" name="blood_pressure_diastolic" class="lastname form-control">
                      </div>

                      <div class="col-sm-12">
                        <label class="form-label">浮腫</label><br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="edema" name="edema" th:value="0">-（マイナス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="edema" name="edema" th:value="1">∓（プラスマイナス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="edema" name="edema" th:value="2">+（プラス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="edema" name="edema" th:value="3">⧺（プラスプラス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="edema" name="edema" th:value="4">⧻（プラスプラスプラス）
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <label class="form-label">尿蛋白</label><br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="protein_in_urine" name="protein_in_urine" th:value="0">-（マイナス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="protein_in_urine" name="protein_in_urine" th:value="1">∓（プラスマイナス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="protein_in_urine" name="protein_in_urine" th:value="2">+（プラス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="protein_in_urine" name="protein_in_urine" th:value="3">⧺（プラスプラス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="protein_in_urine" name="protein_in_urine" th:value="4">⧻（プラスプラスプラス）
                        </div> 
                      </div>
                      <div class="col-sm-12">
                        <label class="form-label">尿糖</label><br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sugar_in_urine" name="sugar_in_urine" th:value="0">-（マイナス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sugar_in_urine" name="sugar_in_urine" th:value="1">∓（プラスマイナス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sugar_in_urine" name="sugar_in_urine" th:value="2">+（プラス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sugar_in_urine" name="sugar_in_urine" th:value="3">⧺（プラスプラス）
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="sugar_in_urine" name="sugar_in_urine" th:value="4">⧻（プラスプラスプラス）
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <label>その他の検査（血液検査、血糖、超音波など）</label>
                        <input type="text" id="other_examinations" name="other_examinations" class="lastname form-control">
                      </div>
                      <div class="col-sm-12">
                        <label>特記事項（安静・休業などの指示や切迫早産等の産科疾患や合併症など）</label>
                        <input type="text" id="special_notes" name="special_notes" class="lastname form-control">
                      </div>
                      <div class="col-sm-12">
                        <label>施設名又は担当者名</label>
                        <input type="text" id="name_of_medical_institution_or_doctor" name="name_of_medical_institution_or_doctor" class="lastname form-control">
                      </div>
                    </div>

                    <div class="my-2">
                      <input class="btn btn-info text-white" type="submit" value="登録" />
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>          

        </main>
        
    </div>
  </div>  

</body>
</html>