<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>妊娠中の経過ページ | 母子健康手帳</title>
  <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
  <link href="/img/favicon.png" th:href="@{/img/favicon.png}" rel="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <h1>母子健康手帳　妊娠中の経過</h1>

  <div>
    <a href="./authoritySupporters/userlist.html" th:href="@{/supporter/userlist}">母子健康手帳利用者一覧へ</a>
  </div>

  <div>
    <a href="./addCourseOfPregnancy.html" th:href="@{'/supporter/userlist/editablelist/' + ${serial_no} + '/addCourseOfPregnancy'}">新規登録</a>
  </div>

  <div>
    <table>
      <tr>
        <th>編集ボタン</th>
        <th>診察日</th>
        <th>妊娠週数ー日</th>
        <th>子宮底長</th>
        <th>腹囲</th>
        <th>体重</th>
        <th>血圧</th>
        <th>浮腫</th>
        <th>尿蛋白</th>
        <th>尿糖</th>
        <th>その他の検査（血液検査、血糖、超音波など）</th>
        <th>特記事項（安静・休業などの指示や切迫早産等の産科疾患や合併症など）</th>
        <th>施設名又は担当者名</th>
      </tr>
      <tr th:each="course : ${courseList}" th:object="${courseList}">
        <td><a href="./editCourseOfPregnancy.html" th:href="@{'/supporter/userlist/editablelist/' + ${course.serial_no} + '/updateCourseOfPregnancy'}">編集する</a></td>
        <td th:text="${#dates.format(course.exam_date, 'yyyy年MM月dd日')}"></td>
        <td th:text="|${course.week_of_pregnancy_w}ー${course.week_of_pregnancy_d}|"></td>
        <td th:text="|${course.height_of_uterus}㎝|"></td>
        <td th:text="|${course.circumference_of_abdomen}㎝|"></td>
        <td th:text="|${course.weight}㎏|"></td>
        <td th:text="|${course.blood_pressure_systolic}／${course.blood_pressure_diastolic}|"></td>
        <td>
          <th:block th:switch="${course.edema}">
            <p th:case=0 th:text="'-'"></p>
            <p th:case=1 th:text="'∓'"></p>
            <p th:case=2 th:text="'+'"></p>
            <p th:case=3 th:text="'⧺'"></p>
            <p th:case=4 th:text="'⧻'"></p>
          </th:block>
        </td>
        <td>
          <th:block th:switch="${course.protein_in_urine}">
            <p th:case=0 th:text="'-'"></p>
            <p th:case=1 th:text="'∓'"></p>
            <p th:case=2 th:text="'+'"></p>
            <p th:case=3 th:text="'⧺'"></p>
            <p th:case=4 th:text="'⧻'"></p>
          </th:block>
        </td>
        <td>
          <th:block th:switch="${course.sugar_in_urine}">
            <p th:case=0 th:text="'-'"></p>
            <p th:case=1 th:text="'∓'"></p>
            <p th:case=2 th:text="'+'"></p>
            <p th:case=3 th:text="'⧺'"></p>
            <p th:case=4 th:text="'⧻'"></p>
          </th:block>
        </td>
        <td th:text="${course.other_examinations}"></td>
        <td th:text="${course.special_notes}"></td>
        <td th:text="${course.name_of_medical_institution_or_doctor}"></td>
      </tr>
    </table>
    
  </div>

</body>
</html>